*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Outfit';
    src: url('./project/fonts/Outfit-Bold-real.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Outfit';
    src: url('./project/fonts/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;}





/*these are text and color styles 

.slate-900 {
    background-color: #1F314f;
}
.slate-500 {
    background-color: #68778d;
}
.slate-300 {
    background-color: #D5e1ef;
}
.white {
    background-color: #ffffff;
}


.spacing-500 {
    padding: 40px;
}
.spacing-300 {
    padding: 24px;
}
.spacing-200 {
    padding: 16px;
}
*/





/*these are component styles */

.container{
    width: 375px;
    height: 100vh;
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-card {
    width: 320px;
    height: 499px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 16px 40px 16px;
    box-sizing: border-box;
    gap: 24px;
}

.qr-card img{
   width: 288px;
   height: 288px;
   border-radius: 10px;
   object-fit: cover;
}

.qr-card .text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 24px;
}

/*this is font styles
.outfit-bold {
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    line-height: 120%;
    font-weight: 700;
}

.outfit-regular {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    font-weight: 400;
}*/

.qr-card .text h1{
   width: 100%;
   font-family: 'Outfit', sans-serif;
   font-size: 22px;
   line-height: 120%;
   letter-spacing: -0.4px;
   font-weight: 700;
   text-align: center;
   color: #1F314F;  
}

.qr-card .text p{
   width: 100%;
   font-family: 'Outfit', sans-serif;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: center;
   color: #68778d;
   font-weight: 400;
}


/*
body{
    background-color: var(--white,#ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.qr-card h2{
   width: 100%;
   font-family: var(--outfit-bold,'Outfit', sans-serif);
   color: var(--slate-900,#1F314F);
}*/

